<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#/">BRAND</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#/about">about</a></li>
				</ul>


				<button  type="button" class="btn btn-inverse pull-right" >Sign In</button>

			</div>
		</div>
	</div>
</div>